@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor-primaria: rgba(58, 57, 103, 1);
    --cor-secundaria: rgba(247, 131, 16, 1);
    --cor-terciaria: rgba(242, 114, 165);
    --cor-quaternaria: rgba(240, 208, 236, 1);
    --font-main: 'Montserrat', sans-serif;
}